<div class="containers">
 <%= render 'select_form' %>
  <div class="row row-cols-1 row-cols-md-3 g-4">

    <% @posts.each do |post| %>
      <div class="col-sm-5">
        <div class="card h-100">
         <%= link_to post_path(post.id) do %>
          <%= attachment_image_tag post, :postimage, class:"card-img-top", class:"img-responsive" %>
         <% end %>
          <div class="card-body text-center">
           <div class="column flex-direction:row">
             <p class="card-title">店名：<%= post.name %></p>
             <p>住所：<%= post.address %></p>
             <table>
               <tbody>
                 <tr>
                   <td><%= attachment_image_tag(post.customer, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size:"40x40" ) %></td>
                    <td><p class="card-title"><%= post.customer.nickname %></p></td>
                    <td>（<%= post.customer.age %>）</td>
                    <td><%= post.customer.gender %></td>

                    <td id="favorite_buttons_<%= post.id %>">
                     <%= render "public/favorites/favorites", post: post %>
                    </td>
                 </tr>
               </tbody>
             </table>
             <p>caption</p>
             <div><%= post.caption %></div>
           </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>