<div class="wrappers">
 <div class="container">
　<h1>Sign upe</h1>



   <%= form_for(resource, url: customer_registration_path) do |f| %>
     <%= render "public/shared/error_messages", resource: resource %>



     <div class="field">
       <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "ニックネーム" %>
     </div>

     <div class="field">
　     <%= f.text_field :age, autofocus: true, autocomplete: "age", placeholder: "年齢", class: "age" %>
     </div>



     <div class="field">
       <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
     </div>

     <div class="field">
       <% if @minimum_password_length %>
       <em>(<%= @minimum_password_length %> characters minimum)</em>
       <% end %><br />
       <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
     </div>

     <div class="field">
       <%= f.label :password_confirmation %><br />
       <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password" %>
     </div>

     <div class="actions">
       <%= f.submit "Sign up" %>
     </div>
   <% end %>
   <%= render "public/shared/links" %>

 </div>

 <ul class="bg-bubbles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
 </ul>
</div>
